@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
  /* font-family: 'Oswald', sans-serif; */
  background-color: #f5f5f5;
}

/* h1 {
  color: #02422e;
} */

.form-ipt {
  @apply placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-blue-600 px-3 text-base;
}
.form-txa {
  @apply placeholder-transparent h-60 w-full border-2 border-gray-300 text-gray-900 focus:outline-none focus:border-blue-600 px-3 text-base;
}
.form-lbl {
  @apply absolute left-0 -top-3.5 text-gray-600 text-sm transition-all;
}

.font-num {
  font-family: 'Oswald', sans-serif;
}

.product-item__top {
  padding-top: 100%;
}
.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}